<a href="https://colab.research.google.com/github/mahfuz830902/20231085_DataScience_Assignment/blob/main/Assignment1_Python_1085.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Python: Variables**

a) Use input( ) function to accept numbers from user as a value of a variable x.

b) Check the data type using type( ) function.

c) Also convert the data type to integer and assign to the variable y.

d) Convert the data type into float and assign to the variable z .

e) display the data type of x, y, and z

In [ ]:
x = input("Give a number:")
print("type(x) :",type(x))
y = int(x)
z = float(x)

#print("x=", x, "y=",y, "z=",z)
print("x=", x, type(x),", ", "y=",y,type(y), ", ","z=",z, type(z))

Give a number:56
type(x) : <class 'str'>
x= 56 <class 'str'> ,  y= 56 <class 'int'> ,  z= 56.0 <class 'float'>

**Strings in Python:**

a) Write a Python program to calculate the length of a string.

b) Write a Python program to count the number of characters in a string.

c) Write a Python program to remove the kth index character from a string.

d) Write a Python program to remove the characters which have odd index values of a given string.

e) Write a Python script that takes input from the user and displays that input back in upper and
lower cases.

f) Write a Python program to sort a string

g) Write a Python program to reverse a string.

h) Write a Python program to convert a given string into a list.

In [ ]:
# a) Write a Python program to calculate the length of a string.
x = input("Give a String:")
print("Length of string :",len(x))

Give a String:My name is Mahfuz.
Length of string : 18

In [ ]:
# b) Write a Python program to count the number of characters in a string.

string = input("Give a String:")
count = 0;     

for i in range(0, len(string)):  
    if(string[i] != ' '):     # only characters alowed
        count = count + 1;  
    
print("Total number of characters in the string: ", count);

res = len([ele for ele in string if ele.isalpha()])
print("Total number of alphabet characters in the string: ", res);

Give a String:My name is Mahfuz.
Total number of characters in the string:  15
Total number of alphabet characters in the string:  14

In [ ]:
# c) Write a Python program to remove the kth index character from a string.
string = input("Give a String:")
x = input("Give kth index:")
i = int(x) # convert to int

a = string[: i]
    #print(a)
b = string[i + 1:]
    #print(b)
final_str = a + b
    #final_str =string[: i] + string[i + 1:]
print(final_str)

Give a String:My name is Mahfuz.
Give kth index:5
My nae is Mahfuz.

In [ ]:
# d) Write a Python program to remove the characters which have odd index values of a given string.
string = input("Give a String:")
new_str =""
#print(len(string))

for i in range(0, len(string)):   # range(0, 17) 
    #print("Repeat : ",i)
    if(i % 2==0):     # Odd index remove
        new_str = new_str + string[i]
        #print(new_str)
    
print("New string is:",new_str);

Give a String:My name is Mahfuz
New string is: M aei afz

In [ ]:
# e) Write a Python script that takes input from the user and displays that input back in upper and lower cases.
string = input("Give a String:")
new_strU =  string.upper();
new_strL = string.lower();
print("New upper string is:",new_strU);  
print("New lower string is:",new_strL);

Give a String:Md. Mahfuzur Rahman
New upper string is: MD. MAHFUZUR RAHMAN
New lower string is: md. mahfuzur rahman

In [ ]:
# f) Write a Python program to sort a string
string = "write a python program to sort a string"

# printing as is:
print("Given string :", string)
sorted_str = ''.join(sorted(string))

print("After sorting : ", sorted_str)

Given string : write a python program to sort a string
After sorting :         aaaegghiimnnoooopprrrrrsstttttwy

In [ ]:
# g) Write a Python program to reverse a string.
string = "Write a Python program to reverse a string."

# printing as is:
print("Given string :", string)
rev_str = ""
for i in string:  
        rev_str = i + rev_str

print("After reverse :", rev_str)

Given string : Write a Python program to reverse a string.
After reverse : .gnirts a esrever ot margorp nohtyP a etirW

In [ ]:
# h) Write a Python program to convert a given string into a list.
string = "Write a Python program to convert a given string into a list"
li = list(string.split(" "))

print("After listing : ", li)

After listing :  ['Write', 'a', 'Python', 'program', 'to', 'convert', 'a', 'given', 'string', 'into', 'a', 'list']

**Python: Lists**

a) Write a Python program to sum (or product) all the items in a list

b) Write a Python program to get the largest/smallest number from a list

c) Write a Python program to print the numbers of a specified list after removing even numbers
from it

d) Write a Python program to select the odd number of a list

e) Write a Python program to convert a list of characters into a string

f) Write a Python program to find the index of an item in a specified list

g) Write a Python program to add a list to the second list

h) Write a Python program to get unique values from a list and to count unique values inside a
list. Also get the frequency of the elements in the list.

i) Write a Python Program to Extract elements with Frequency greater than K

j) Write a Python program to reverse All Strings in String List

In [ ]:
# a) Write a Python program to sum (or product) all the items in a list
items = [12,45,25,14,78,65,23,78]
  #print(items)
sum_items = 0
cumulative_sum = []

for x in items:
  sum_items += x
  cumulative_sum.append(sum_items)

print("Given numbers are :", items)
print ("After Summation : ",sum_items)
# for helping summation
print ("Cumulative sum : ",cumulative_sum)

Given numbers are : [12, 45, 25, 14, 78, 65, 23, 78]
After Summation :  340
Cumulative sum :  [12, 57, 82, 96, 174, 239, 262, 340]

In [21]:
# b) Write a Python program to get the largest/smallest number from a list
items = [12,45,25,14,78,65,23,75]
print(items)
items.sort()
smallest = items[0]
items.sort(reverse = True)
largest = items[0]

print ("smallest : ",smallest)
print ("largest : ",largest)
print ("Sorted List : ",sorted(items))

[12, 45, 25, 14, 78, 65, 23, 75]
smallest :  12
largest :  78
Sorted List :  [12, 14, 23, 25, 45, 65, 75, 78]

In [16]:
# c) Write a Python program to print the numbers of a specified list after removing even numbers from it
items = [12,45,25,14,78,65,23,78,39]

#new_items = [x for x in items if x%2!=0]
new_items = []
for x in items:  
    if(x % 2==1):    
        new_items.append(x)
    
print("New list is:",new_items);

New list is: [45, 25, 65, 23, 39]

In [15]:
# d) Write a Python program to select the odd number of a list
items = [12,45,25,14,78,65,23,78,39]

new_items = []
for x in items:  
    if(x % 2==1):     
        new_items.append(x)
    
print("New list is:",new_items);

New list is: [45, 25, 65, 23, 39]

In [14]:
# e) Write a Python program to convert a list of characters into a string
s = ['P', 'y', 't', 'h', 'o', 'n']
string = ''.join(s)

print("New string is:",string);

New string is: Python

In [13]:
# f) Write a Python program to find the index of an item in a specified list
items = [12,45,29,14,78,65,23,78,39]
print("Original items : ", items)
 
K  = int(input("Give a value for finding index :"))
if  K in items:
  print("the index of the item is :", items.index(K))
else:
  print("Given value in not in list.")

Original items :  [12, 45, 29, 14, 78, 65, 23, 78, 39]
Give a value for finding index :65
the index of the item is : 5

In [7]:
#g) Write a Python program to add a list to the second list

items = [12,45,29,14,78,65,23,78,39]

items2 = ['Red', 'Green', 'Blue', 'Black','Cyan']

final_list = items + items2

print( final_list)

[12, 45, 29, 14, 78, 65, 23, 78, 39, 'Red', 'Green', 'Blue', 'Black', 'Cyan']

In [6]:
# h) Write a Python program to get unique values from a list and to count unique values inside a list. 
# Also get the frequency of the elements in the list.

items = [12,45,39,23,78,39,65,23,78,39]

ulist = []
clist = []

for x in items:
    if x not in ulist:
        ulist.append(x)
print( ulist)

for x in ulist:
 clist.append(items.count(x))


for i in range(len(ulist)):
   print(ulist[i]," is ",clist[i],"time(s)")

print("frequency of the elements",clist)

[12, 45, 39, 23, 78, 65]
12  is  1 time(s)
45  is  1 time(s)
39  is  3 time(s)
23  is  2 time(s)
78  is  2 time(s)
65  is  1 time(s)
frequency of the elements [1, 1, 3, 2, 2, 1]

In [ ]:
# i) Write a Python Program to Extract elements with Frequency greater than K

items = [9, 4, 7,6, 2, 3, 7, 2, 4, 3, 3, 9, 4, 3, 7, 8, 9, 8, 5, 2, 3, 9, 2, 1, 7]
print("Original items : ", items)
 
K  = input("Give K value:")
if int(K) > -1 :
  res = []
  K = int(K)
  for i in items:
      freq = items.count(i)
      if freq > K and i not in res:
          res.append(i)
  print("Frequency greater than K : ", res)

else:
  print("Given K value is not a number.")

Original items :  [9, 4, 7, 6, 2, 3, 7, 2, 4, 3, 3, 9, 4, 3, 7, 8, 9, 8, 5, 2, 3, 9, 2, 1, 7]
Give K value:2
Frequency greater than K :  [9, 4, 7, 2, 3]

In [5]:
# j) Write a Python program to reverse All Strings in String List

items = ['Red', 'Green', 'Blue', 'Black','Cyan']
rlist = []

for x in items:
  rlist.append(x[::-1])
  
print( "Original items:",items)
print( "Reverse items:",rlist)

Original items: ['Red', 'Green', 'Blue', 'Black', 'Cyan']
Reverse items: ['deR', 'neerG', 'eulB', 'kcalB', 'nayC']

**Python : Dictionary**

a) Write a Python script to create a dictionary (i) Create a dictionary named **fruit** with keys:
(names, color, taste). add Mango and Lemon as the value of key- **names**, **yellow** and **green** as
the value of color, sweet and sour as the value of taste. (ii) display the dictionary. (iii) add a
new value, **Apple** in the names

b) Write a Python program to add a key to a dictionary

c) Write a Python program to check whether a given key already exists in a dictionary.

d) Access dictionary key’s element by index.

e) Write a Python program to iterate over dictionaries using for loops.

f) Write a Python script to print a dictionary where the keys are numbers between 1 and n (both included) and the values are square of keys.

g) Create a dictionary by extracting the keys from a given dictionary

h) Write a Python program to Rename key of a dictionary

i) Write a program to print only keys of a dictionary

j) Write a program to print values of dictionary.

In [4]:
# a) Write a Python script to create a dictionary 
# (i) Create a dictionary named fruit with keys: (names, color, taste). 
#     add Mango and Lemon as the value of key- names, yellow 
#     and green as the value of color, sweet and sour as the value of taste. 
# (ii) display the dictionary. 
# (iii) add a new value, Apple in the names
#

fruit = {"names": ["Mango", "Lemon"], "color" :["yellow", "green"] , "taste": ["sweet", "sour" ]}
keys = fruit.keys();
values = fruit.values()
print("Given dict :",fruit)
print(keys)
print(values)
fruit["names"].append("Apple")
print("New dict :",fruit)

Given dict : {'names': ['Mango', 'Lemon'], 'color': ['yellow', 'green'], 'taste': ['sweet', 'sour']}
dict_keys(['names', 'color', 'taste'])
dict_values([['Mango', 'Lemon'], ['yellow', 'green'], ['sweet', 'sour']])
New dict : {'names': ['Mango', 'Lemon', 'Apple'], 'color': ['yellow', 'green'], 'taste': ['sweet', 'sour']}

In [3]:
# b) Write a Python program to add a key to a dictionary

fruit = {"names": ["Mango", "Lemon"], "color" :["yellow", "green"] , "taste": ["sweet", "sour" ]}
print(fruit.keys())
fruit["calories"] =[]           # only key
#fruit["calories"] = [35,22]    # key with values

print(fruit.keys())
print("New dict :",fruit)

dict_keys(['names', 'color', 'taste'])
dict_keys(['names', 'color', 'taste', 'calories'])
New dict : {'names': ['Mango', 'Lemon'], 'color': ['yellow', 'green'], 'taste': ['sweet', 'sour'], 'calories': []}

In [ ]:
# c) Write a Python program to check whether a given key already exists in a dictionary.

fruit = {"names": ["Mango", "Lemon"], "color" :["yellow", "green"] , "taste": ["sweet", "sour" ]}
key = input("check the key :")

if key in fruit.keys():
   print(key,"is exist.")
else:
   print(key, "is not exist.")

check the key :taste
taste is exist.

In [1]:
# d) Access dictionary key’s element by index.
fruits = {"names": ["Mango", "Lemon"], "color" :["yellow", "green"] , "taste": ["sweet", "sour" ]}

print("Given dict :",fruits)
print("Keys are :",fruits.keys())
key_i = int(input("Give the index of key :"))

if key_i < len(fruits.keys()) and key_i > -1:
  print("Key  is   :",list(fruits)[key_i])
  print("Values Are:",list(fruits.values())[key_i])
else:
  print("Out of index Range")

Given dict : {'names': ['Mango', 'Lemon'], 'color': ['yellow', 'green'], 'taste': ['sweet', 'sour']}
Keys are : dict_keys(['names', 'color', 'taste'])
Give the index of key :1
Key  is   : color
Values Are: ['yellow', 'green']

In [ ]:
# e) Write a Python program to iterate over dictionaries using for loops.
fruit = {"names": ["Mango", "Lemon"], "color" :["yellow", "green"] , "taste": ["sweet", "sour" ]}

for key in fruit:
    print(key, fruit[key])

names ['Mango', 'Lemon']
color ['yellow', 'green']
taste ['sweet', 'sour']

In [ ]:
# f) Write a Python script to print a dictionary where the keys are numbers 
#    between 1 and n (both included) and the values are square of keys.
my_dict = dict()
n = int(input("Give the nth key :"))

for i in range(1,n+1):
  my_dict[i]= i*i
 
print("type(my_dict) =",type(my_dict))
print(my_dict)

Give the nth key :7
type(my_dict) = <class 'dict'>
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49}

In [ ]:
# g) Create a dictionary by extracting the keys from a given dictionary

fruit = {"names": ["Mango", "Lemon"], "color" :["yellow", "green"] , "taste": ["sweet", "sour" ]}

print("Given dictionary :",fruit)
keys_to_extract = ['names', 'taste']
print("keys are :",keys_to_extract)

new_dict = dict()

for key, value in fruit.items():
    if key in keys_to_extract:
        new_dict[key] = value

print("The extracted new dictionary is :", new_dict)

Given dictionary : {'names': ['Mango', 'Lemon'], 'color': ['yellow', 'green'], 'taste': ['sweet', 'sour']}
keys are : ['names', 'taste']
The extracted new dictionary is : {'names': ['Mango', 'Lemon'], 'taste': ['sweet', 'sour']}

In [2]:
# h) Write a Python program to Rename key of a dictionary

fruit = {"names": ["Mango", "Lemon"], "color" :["yellow", "green"] , "taste": ["sweet", "sour" ]}
print("Given dictionary :",fruit)
fruit["name"]= fruit.pop("names")
print("After renaming :", fruit)

Given dictionary : {'names': ['Mango', 'Lemon'], 'color': ['yellow', 'green'], 'taste': ['sweet', 'sour']}
After renaming : {'color': ['yellow', 'green'], 'taste': ['sweet', 'sour'], 'name': ['Mango', 'Lemon']}

In [ ]:
# i) Write a program to print only keys of a dictionary

fruit = {"names": ["Mango", "Lemon"], "color" :["yellow", "green"] , "taste": ["sweet", "sour" ]}
# keys = fruit.keys()

print("Given dictionary :",fruit)
print("Keys are :")
for x in fruit.keys():
  print("\t",x)

Given dictionary : {'names': ['Mango', 'Lemon'], 'color': ['yellow', 'green'], 'taste': ['sweet', 'sour']}
Keys are :
	 names
	 color
	 taste

In [ ]:
#  j) Write a program to print values of dictionary.

fruit = {"names": ["Mango", "Lemon"], "color" :["yellow", "green"] , "taste": ["sweet", "sour" ]}
#values = fruit.values()
print("Given dictionary :",fruit)

print("Values are :")
for x in fruit.values():
  print("\t",x)

Given dictionary : {'names': ['Mango', 'Lemon'], 'color': ['yellow', 'green'], 'taste': ['sweet', 'sour']}
Values are :
	 ['Mango', 'Lemon']
	 ['yellow', 'green']
	 ['sweet', 'sour']

Python: Loops

a) Print First 10 natural numbers using while loop

b) Write a program to print multiplication table of a given number

c) Display numbers from a list using loop

d) Print list in reverse order using a loop

e) Display numbers from -10 to -1 using for loop

f) Find the factorial of a given number

g) Use a loop to display elements from a given list present at odd index positions

h) Calculate the cube of all numbers from 1 to a given number

In [ ]:
#  a) Print First 10 natural numbers using while loop

i = 1
while i <= 10:
    print(i)
    i += 1

1
2
3
4
5
6
7
8
9
10

In [ ]:
#  b) Write a program to print multiplication table of a given number

x = int(input("Give a number for multiplication table : "))

i = 1
while i <= 10:
    print( x, " x ", i, " = ", x*i)
    i += 1

Give a number for multiplication table : 7
7  x  1  =  7
7  x  2  =  14
7  x  3  =  21
7  x  4  =  28
7  x  5  =  35
7  x  6  =  42
7  x  7  =  49
7  x  8  =  56
7  x  9  =  63
7  x  10  =  70

In [ ]:
#  c) Display numbers from a list using loop
list = [3,4,2,6,7,9,12,32,45,55]
i = 0
while i < len(list):
    print(  "Item", i+1,"Index", i, " = ", list[i])
    i += 1

Item 1 Index 0  =  3
Item 2 Index 1  =  4
Item 3 Index 2  =  2
Item 4 Index 3  =  6
Item 5 Index 4  =  7
Item 6 Index 5  =  9
Item 7 Index 6  =  12
Item 8 Index 7  =  32
Item 9 Index 8  =  45
Item 10 Index 9  =  55

In [ ]:
#  d) Print list in reverse order using a loop

list = [3,4,2,6,7,9,12,32,45,55]
i = len(list)-1
while i >= 0:
    print(  "Item", i+1,"Index", i, " = ", list[i])
    i -= 1

Item 10 Index 9  =  55
Item 9 Index 8  =  45
Item 8 Index 7  =  32
Item 7 Index 6  =  12
Item 6 Index 5  =  9
Item 5 Index 4  =  7
Item 4 Index 3  =  6
Item 3 Index 2  =  2
Item 2 Index 1  =  4
Item 1 Index 0  =  3

In [ ]:
#  e) Display numbers from -10 to -1 using for loop

for i in range(-10,0,1):
  print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

In [ ]:
#  f) Find the factorial of a given number

num = int(input("Give a number for factorial : "))
fact = 1

# check if the number is negative, positive or zero
if num < 0:
   print("Sorry, factorial does not exist for negative numbers")
elif num == 0:
   print("The factorial of 0 is 1")
else:
   for i in range(1,num + 1):
       fact = fact*i
   print("The factorial of",num,"is",fact)

Give a number for factorial : 6
The factorial of 6 is 720

In [ ]:
#  g) Use a loop to display elements from a given list present at odd index positions

list = [3,4,2,6,7,9,12,32,45,55,88,93]

for i in range(1,len(list),2):
  print("list index : ", i ," Value :", list[i])

list index :  1  Value : 4
list index :  3  Value : 6
list index :  5  Value : 9
list index :  7  Value : 32
list index :  9  Value : 55
list index :  11  Value : 93

In [ ]:
#  h) Calculate the cube of all numbers from 1 to a given number

num = float(input(" Please Enter any numeric Value : "))

res = num **3
print("The Cube of a Given Number {0}  = {1}".format(num, res))

 Please Enter any numeric Value : 5
The Cube of a Given Number 5.0  = 125.0

Python: User-defined Functions

a) write a python program to create a function that will return a list of the unique digits in your
class ID.

In [ ]:
#  a) write a python program to create a function that will return a list of the unique digits in your class ID.

def uniq_list(class_id):
  res = []
  for i in str(class_id):
    if i.isdigit() and i not in res:
      res.append(i)
  return res

my_class_id = "PMASDS-20231085"
print("list of the unique digits :", uniq_list(my_class_id))

list of the unique digits : ['2', '0', '3', '1', '8', '5']